<div class="row col-md-6 col-md-offset-3">

	<div class="jumbotron">
		<h1>Admin Login</h1>		

		<form ng-submit="login.doLoginAdmin()">
			
			<div class="form-group">
				<label>Username</label>
				<input type="text" class="form-control my-form" ng-model="login.loginData.username">
			</div>

			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control my-form" ng-model="login.loginData.password">
			</div>

			<div class="alert alert-danger error-message" ng-if="login.error">
				{{ login.error }}
			</div>

			<button type="submit" class="btn btn-block btn-primary my-btn">
				<span ng-if="!loginAdmin.processing">Login</span>
				<span ng-if="loginAdmin.processing" class="spinner"><span class="glyphicon glyphicon-repeat"></span></span>
			</button>

		</form>
	</div>
	
</div>