<div class="row col-md-6 col-md-offset-3">

	<div class="jumbotron">
		<h1>Register</h1>		

		<form ng-submit="user.register()">
			
			<div class="form-group">
				<label>Name</label>
				<input type="text" class="form-control my-form" ng-model="user.userData.name">
			</div>

			<div class="form-group">
				<label>Username</label>
				<input type="text" class="form-control my-form" ng-model="user.userData.username">
			</div>

			<div class="form-group">
				<label>Password</label>
				<input type="password" class="form-control my-form" ng-model="user.userData.password">
			</div>

			<button type="submit" class="btn btn-block btn-primary my-btn">
				<span>Register</span>
			</button>

		</form>
	</div>
	
</div>